.result {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  background-color: var(--bg-secondary);
  color: var(--colors-primary);
}

.result a {
  align-self: flex-end;
  display: block;
  margin-top: 2rem;
  font-size: 1.6rem;
  color: #fff;
  padding: 1rem 2rem;
  background-color: var(--colors-secondary);
}

.result a:hover {
  opacity: 0.6;
}

.result h2 {
  font-size: 1.8rem;
  text-transform: capitalize;
}

.description {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 1rem;
}

.item_image_container, .no_images {
  width: 100%;
}

.no_images p {
  text-align: center;
  font-size: 1.8rem;
}