.form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 650px;
  height: 100%;
  padding: .5rem;
  font-size: 1.5rem;
  box-shadow: var(--box-shadow);
  background-color: var(--bg-secondary);
  position: relative;
}

.file_input_container {
  font-size: 1.5rem;
  width: 100%;
}

.file_input_container input {
  display: none;
}

.file_input_container label {
  display: grid;
  place-items: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: var(--bg-primary);
  cursor: pointer;
  margin: auto;
  overflow: hidden;
}

.item_image_label {
  width: 100% !important;
  height: auto !important;
  max-width: 300px;
  max-height: 200px;
  min-height: 200px;
  border-radius: 0 !important;
}

.input_container {
  width: 100%;
  font-size: 1.5rem;
  max-width: 300px;
}

.full_width {
  max-width: unset;
}

.input_container label,
.label_fallback {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  color: var(--colors-secondary);
}

.input_container div {
  position: relative;
  width: 100%;
  border-bottom: 0.1rem solid var(--colors-secondary);
  background-color: var(--bg-primary);
}

.checkbox_wrapper {
  display: inline-block;
  position: initial;
  width: fit-content !important;
  margin: 2rem 2rem 0 0;
  padding: 0.5rem;
  border: 0.1rem solid var(--colors-secondary);
}

.input_container div input {
  width: 85%;
  border-bottom: 0 none;
}

.icon {
  position: absolute;
  bottom: 0;
  right: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  color: var(--colors-secondary);
}

.input_container input,
.input_container textarea {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1.9rem 0.2rem 0.1rem;
  width: 100%;
  border-bottom: 0.1rem solid var(--colors-secondary);
  background-color: var(--bg-primary);
}

.input_container input[type='checkbox'] {
  width: fit-content;
  cursor: pointer;
}

.input_container input[type='checkbox'] ~ label {
  display: inline-block;
  width: fit-content;
  font-size: 1.6rem;
  text-indent: 1rem;
}

.input_container textarea {
  padding: 0.2rem;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
  border: 0.1rem solid var(--colors-secondary);
}

.form input:not([readOnly]):hover,
.form textarea:hover,
.form button:hover,
.form button:focus,
.form a:hover {
  opacity: 0.7;
}

.form button,
.form a {
  text-align: center;
  font-size: 1.5rem;
  width: 97%;
  padding: 1rem 0;
  cursor: pointer;
  color: #fff;
  background-color: var(--colors-secondary);
}

.form h1 {
  font-size: 2rem;
  text-align: center;
  color: var(--colors-secondary);
}

.error {
  font-size: 1.4rem;
  font-weight: 300;
  color: red;
  width: 100%;
  min-height: 1.4rem;
}

@media screen and (min-width: 1024px) {
  .input_container,
  .input_container input,
  .input_container textarea,
  .file_input_container,
  .form button,
  .form a {
    font-size: 2rem;
  }

  .form h1 {
    font-size: 2.4rem;
  }
}
