.container {
  width: 100%;
}

.datalist_input input {
  font-size: 1.5rem;
  font-weight: 300;
  width: 100%;
  padding: 1rem 0.4rem ;
  border-radius: 5px;
  border: 1px solid var(--colors-secondary);
}

.datalist_input input::placeholder {
  color: #000;
}

.datalist_input input:hover {
  opacity: 0.6;
}

.datalist_input input:focus {
  opacity: 1;
}

.datalist_input ul {
  max-height: 100px;
  overflow-y: scroll;
  border-radius: 5px;
  border: 1px solid var(--colors-secondary);
}

.datalist_input li {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 1rem .4rem;
}

@media screen and (min-width: 550px) {
  .container {
    width: 500px;
  }
}