.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--colors-secondary);
}

.logo {
  padding: 1rem 2rem;
}

.logo div {
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: #fff;
}

.navigation {
  @media screen and (min-width: 45rem) {
    margin-right: 2rem;
  }
}

.navigation_items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  transform: translateY(-70rem);
  transition: transform 0.4s ease-in-out;
  background-color: var(--colors-secondary);
  @media screen and (min-width: 45rem) {
    flex-direction: row;
  }
}

.navigation_items_active {
  transform: translateY(0);
}

.navigation_items a {
  display: block;
  padding: 1rem 2rem;
  border-bottom: .2rem solid transparent;
  font-size: 1.6rem;
  color: #fff;
}

.navigation_items a:hover {
  border-color: var(--border);
}

.burguer {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  position: fixed;
  top: 2.3rem;
  right: 2rem;
  z-index: 2;
  cursor: pointer;
  @media screen and (min-width: 45rem) {
    display: none;
  }
}

.burguer span {
  display: block;
  width: 1.5rem;
  height: .2rem;
  background-color: #fff;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  @media screen and (min-width: 45rem) {
    display: none;
  }
}

.close_left {
  transform: translate(0, .6rem) rotate(45deg);
}

.close_right {
  transform: rotate(135deg);
}

.fade {
  opacity: 0;
}